@import 'type.css';

.content {
  width: 50%;
  max-width: 480px;
  margin: 48px auto;

  font-family: 'Raleway', Helvetica, Arial; 
}

small {
  font-size: .8em;
  font-style: italic;
  color: #444;
}
